.blog-container
	a(href="new-page.html").blog-post.first
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.second
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.third
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.fourth
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.fifth
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.sixth
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.seventh
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.eight
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.nineth
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").blog-post.last.tenth
		.blog-image

		.blog-details
			.date
				p 2016.01.01
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
			.description
				p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…

	a(href="new-page.html").button
		.filler
		p More
		img(src="assets/img/icn_arrow.png" alt="arrow")