.side-bar-container
	a(href="#").square-banner
		p Dummy banner

	img(src="assets/img/title-news.png" width="300px" height="30px").recommend

	a(href="#").blog-post.first

		.blog-image
			img(src="assets/img/article-image.png")

		.blog-details
	
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト

			.date
				p 2016.03.26

	a(href="#").blog-post.second

		.blog-image
			img(src="assets/img/article-image.png")

		.blog-details
	
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト

			.date
				p 2016.03.26

	a(href="#").blog-post.last

		.blog-image
			img(src="assets/img/article-image.png")

		.blog-details
	
			.title
				span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト

			.date
				p 2016.03.26

	a(href="#").rectangle-banner
		p Dummy banner

	a(href="#").rectangle-banner
		p Dummy banner

	a(href="#").rectangle-banner
		p Dummy banner
