<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    
    <body>
        {%include header.html%}
        {%include carousel.html%}
        <div class="main-content">
            {{content}}
        </div>
        {%include page-reset.html%}
        {%include footer.html%}
    </body>
    <!--Custom JS-->
        <script type="text/javascript" src="assets/js/slider.js"></script>
</html>
